html {
    font-size: 62.5%
}

* {
    margin: 0px;
    padding: 0px;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.weather {
    display: flex;
    flex-direction: column;
}

#map {
    display: flex;
    width: 30vw;
    height: 40vh;
    border-radius: 15px;
}

.location_data {
    display: flex;
    flex-direction: column;
}

.location {
    display: flex;
    flex-direction: row;
}

.other_days {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}

.time_data {
    display: flex;
    flex-direction: row;
}

.weather_icon {
    font-size: 160px;
    color: #7ec5e9;
}

#first_weather_box {
    font-size: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.location_data {
    font-size: 50px;
}

.today_charac {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.today_values {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.today_info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.today_icon {
    font-size: 200px;
}

.weather_location {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

body {
    box-sizing: border-box;
    background-color: #e5e5e5;
    font-family: Montserrat, tahoma, sans-serif;
    color: #fff;
    font-size: 2.2rem;
    transition: background-image 2s ease-in-out;
}

h1 {
    margin: 0;
    font-size: 4.4rem
}

ul {
    list-style: none
}

a {
    color: inherit;
    text-decoration: none
}

button {
    border: 0;
    outline: 0;
    cursor: pointer
}

button:-moz-focus-inner {
    border: 0
}

button:-moz-focusring {
    outline: 0
}

body {
    position: relative;
    width: 100wh;
    height: 100vh;
    /*background: -webkit-gradient(linear, left top, left bottom, from(rgba(8, 15, 26, .59)), to(rgba(17, 17, 46, .46))) 50% fixed, url(img/bg-default.jpg) no-repeat 50% fixed;
    background: linear-gradient(180deg, rgba(8, 15, 26, .59), rgba(17, 17, 46, .46)) 50% fixed, url(img/bg-default.jpg) no-repeat 50% fixed;*/
    background-size: cover;
    padding-top: 1px;
    margin-top: -1px;
    -webkit-animation: smoothAppearance 2s ease-in-out;
    animation: smoothAppearance 2s ease-in-out
}

.button-cluster {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin: 4rem 0
}

.button-cluster__left-sub-cluster {
    display: -webkit-box;
    display: flex;
    margin-left: 6vw;
    margin-right: 2rem
}

.button-cluster__right-sub-cluster {
    position: relative;
    display: -webkit-box;
    display: flex;
    margin-right: 6vw;
    margin-left: 2rem
}

.button {
    width: 4.4rem;
    height: 4.4rem;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    border-radius: .5rem;
    background: rgba(180, 184, 187, .7);
    font-family: inherit;
    font-size: 1.4rem;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    -webkit-transition: all .2s;
    transition: all .2s
}

.button:hover {
    background-color: #b4b8bb;
    cursor: pointer
}

.button--update {
    background: rgba(180, 184, 187, .7) url(img/update-button.svg) no-repeat bottom;
    background-size: 4.4rem
}

.button--f {
    margin-left: 1rem;
    border-radius: .5rem 0 0 .5rem;
    cursor: auto
}

.button--f:hover {
    background-color: #b4b8bb;
}

.button--c {
    border-radius: 0 .5rem .5rem 0;
    cursor: auto
}

.button--c:hover {
    background-color: #b4b8bb;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    80% {
        -webkit-transform: rotate(400deg);
        transform: rotate(400deg)
    }
    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    80% {
        -webkit-transform: rotate(400deg);
        transform: rotate(400deg)
    }
    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

.spinner {
    width: 2rem;
    height: 2rem;
    background: url(img/spinner.svg) 50% no-repeat;
    -webkit-animation: spin 1.4s ease-in-out;
    animation: spin 1.4s ease-in-out
}

.language-menu {
    position: relative;
    margin-left: 1rem
}

.arrow-down {
    width: 1.3rem;
    height: 1.3rem;
    margin-left: 1rem;
    background: url(img/arrow-down.svg) 50% no-repeat
}

.arrow-down--open {
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1)
}

.drop-down-menu {
    position: absolute;
    z-index: 1;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height .6s cubic-bezier(.25, .46, .45, .94), border-radius .2s;
    transition: max-height .6s cubic-bezier(.25, .46, .45, .94), border-radius .2s
}

.drop-down-menu--open {
    max-height: 20rem;
    height: auto
}

.drop-down-menu__face-button {
    width: 9.1rem
}

.drop-down-menu__face-button--open {
    border-radius: .5rem .5rem 0 0
}

.drop-down-menu__item {
    width: 9.1rem;
    border-radius: 0;
    cursor: auto
}

.drop-down-menu__item:hover {
    background-color: rgba(180, 184, 187, .7)
}

.drop-down-menu__item:last-child {
    border-radius: 0 0 .5rem .5rem
}

.search-input {
    width: 27.4rem;
    height: 4.4rem;
    border: .1rem solid rgba(180, 184, 187, .7);
    border-radius: .5rem 0 0 .5rem;
    padding: 1.3rem 1.5rem;
    background: rgba(76, 82, 85, .7);
    font-family: inherit;
    font-size: 1.4rem;
    color: #fff
}

.search-input:required {
    outline: 0
}

.search-input::-webkit-input-placeholder {
    font-size: 1.4rem;
    color: #fff;
    opacity: 1
}

.search-input::-moz-placeholder {
    font-size: 1.4rem;
    color: #fff;
    opacity: 1
}

.search-input:-ms-input-placeholder {
    font-size: 1.4rem;
    color: #fff;
    opacity: 1
}

.search-input::-ms-input-placeholder {
    font-size: 1.4rem;
    color: #fff;
    opacity: 1
}

.search-input::placeholder {
    font-size: 1.4rem;
    color: #fff;
    opacity: 1
}

.search-input:focus::-webkit-input-placeholder {
    opacity: 0
}

.search-input:focus::-moz-placeholder {
    opacity: 0
}

.search-input:focus:-ms-input-placeholder {
    opacity: 0
}

.search-input:focus::-ms-input-placeholder {
    opacity: 0
}

.search-input:focus::placeholder {
    opacity: 0
}

.search-input__button {
    width: 10rem;
    margin-left: 0;
    border-radius: 0 .5rem .5rem 0
}

.search-input__voice-button {
    position: absolute;
    z-index: 1;
    top: .2rem;
    right: 10.5rem;
    width: 3rem;
    height: 4rem;
    background: url(img/microphone.svg) 50% no-repeat;
    background-size: 50%
}

.inactive {
    background: rgba(76, 82, 85, .7);
    color: hsla(0, 0%, 100%, .7);
    cursor: pointer
}

.inactive:hover {
    background-color: #b4b8bb;
    color: #fff
}

.search-field-error {
    box-shadow: 0 0 1rem 0 rgba(226, 31, 31, .87)
}

.search-field-error::-webkit-input-placeholder {
    color: #f8aeae;
    opacity: 1
}

.search-field-error::-moz-placeholder {
    color: #f8aeae;
    opacity: 1
}

.search-field-error:-ms-input-placeholder {
    color: #f8aeae;
    opacity: 1
}

.search-field-error::-ms-input-placeholder {
    color: #f8aeae;
    opacity: 1
}

.search-field-error::placeholder {
    color: #f8aeae;
    opacity: 1
}